
/* Základný reset a font */
:root {
  --primary-color: #2274a5;
  --secondary-color: #85aab6;
  --terciary-color: #b6c5be;
  --quaternary-color: #e7dfc6;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f9; /* Svetlo sivé pozadie */
    color: #333;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #0e7f80; 
    color: white;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    margin: 0;
}

header button {
    background: #dc3545; /* Červené tlačidlo pre Odhlásenie */
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
    transition: background-color 0.2s;
}

header button:hover {
    background-color: #c82333;
}

main {
    width: 100%;
    max-width: 900px; /* Centrujte obsah a obmedzte šírku */
    padding: 20px;
    box-sizing: border-box;
}

hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 25px 0;
}